#main{
	height:140px;
	position: relative;
	width:1200px;
	margin: 0 auto;
}



#main .goodsAll{
	position: absolute;left: 147px;
	top:-107px;
	font:700 14px "";
	color:blue;
	cursor: pointer;
}
#main .menu-l{
	position: absolute;left:0;top:0;z-index: 2;
	background-color: rgba(0, 0, 0, 0.5);
	height:460px;
	display: none;
	z-index: 2
}
#main .menu-l ul{
margin:10px 0;
}
#main .menu-l ul li{
	height:44px:width:320px;line-height: 44px;display: block;	
}
#main .menu-l li:hover{
	background:#ff6702;
	z-index: 3;
}
#main .menu-l ul i{
	padding-left: 30px;
	margin-right:10px;
	color:floralwhite;
}
#main .menu-l ul span{
	margin-left:10px;
	color:#fff;
	font-size:14px;	
}
#main .menu-r{
	position: absolute;
	top:-20px;left:164px;
	background:#fff;
	z-index: 3;
	height:460px;
	display: none;
}

.active{
	background:#ff6702;
	z-index: 4;
}

#main .menu-r  tr{
	margin-top:32px;
	display:block;
}
#main .menu-r  td{
	padding-left: 40px;
	margin-right: 20px;
	position: relative;
	width:200px;
}
#main .menu-r  td span{
	line-height: 40px;
	width:80px;
}
#main .menu-r  td a{
	display: inline-block;
	width:50px;height:20px;
	color:#ff6702;
	border:1px solid #ff6702;
	text-align: center;
	line-height: 18px;
	float:right;
	position: relative;top:10px;
}
#main .menu-r img{
	height:40px;
	width:40px;
}
#main .main-pic{
	margin-top: 10px;
}

/*``````````````````````````````````二级菜单结束````````````````````````````````````````````````*/

#main .main-title_Inner{
	width:1200px;
	margin: 0 auto;
}
#main .main-title_Inner li{
	float:left;
	line-height: 34px;
	margin-left: 84px;
	width:100px;
	text-align: center;
}
.title-t{
	height:50px;
	background: #f5f5f5;
}
.title-t p{
	width:1200px;
	margin:0 auto;
	color:#666;
	line-height: 50px;

}

#main .main-title_Inner .brang,#main .main-title_Inner .classify{
	height:90px;
	margin-top: 30px;
}
#main .main-title_Inner .classify ul{
	position: absolute;left:20px;top:20px;
}
#main .main-title_Inner .brang {
	height:90px;
	margin-top: 90px;
	margin-left: -36px;
}
#main .main-title_Inner .brang ul{
	position: absolute;left:20px;top:80px;
}
#main .main-title_Inner .more-1{
	cursor: pointer;
	position: absolute;left: 1130px;top:30px;
		
}
#main .main-title_Inner .more-2{
	cursor: pointer;
	position: absolute;left: 1130px;top:90px;

}
#main .main-title_Inner .more-1:hover,#main .main-title_Inner .more-2:hover{
	color:#ff6702;
}




#inner {
background: #f5f5f5;
height:1850px;

}
#inner .inner-title .inputs{
	height:24px;
	float: right;
	font: 16px "";
	line-height: 24px
}
#inner .inner-title a{
	height:24px;
	font: 16px "";
	line-height: 24px
}
#inner .inner-all{
	background: #f5f5f5;
}
#inner .inner-all li{
	width:200px;
	overflow: hidden;
	background: #fff;
	position: relative;	
	float:left;
	margin:20px 20px;
	cursor: pointer;
}
#inner .inner-all li .divs,#inner .inner-all li .divs1,#inner .inner-all li .divs2,
#inner .inner-all li .divs3,#inner .inner-all li .divs4,#inner .inner-all li .divs5,
#inner .inner-all li .divs6,#inner .inner-all li .divs7,#inner .inner-all li .divs8,
#inner .inner-all li .divs9,#inner .inner-all li .divs10,#inner .inner-all li .divs11,
#inner .inner-all li .divs12,#inner .inner-all li .divs13,#inner .inner-all li .divs14,
#inner .inner-all li .divs15,#inner .inner-all li .divs16,#inner .inner-all li .divs17,
#inner .inner-all li .divs18,#inner .inner-all li .divs19{
	width:600px;
	position: relative;
	text-align: center;

}
#inner .inner-all li .gw i{
	position: absolute;
	left:168px;
	top:10px;
	cursor: pointer;
	display: none;

}
#inner .inner-all li .gw a{
	display: none;
	position: absolute;
	left:100px;
	top:16px;
	color:#000;
}
#inner .inner-all li span{	
	cursor: pointer;
	float:left;
	width:34px;
	height:34px;
	background:url(../img/goodsList-1x.jpg);
	margin-left: 24px;
	border: 1px solid #666;
	margin-bottom: 10px;
}
#inner .inner-all li p{
	text-align: center;
	margin-top: 8px;
	font-size: 16px;
}
#inner .inner-all li div img{
	float: left;
}



.inner-bo {
	height:800px;
	z-index: 10;
}
.bo-tilte{
	text-align: center;
}
.bo-tilte p{
	font:700 30px "";
	line-height: 76px;
}
.inner-bo .tuijian{
	width:1200px;
	overflow: hidden;
}
.inner-bo ul{
	width:5080px;
	position: relative;
	left: 0;
	z-index: 8;
}
.inner-bo li{
	margin-left: 20px;
	float:left;
	width:227px;
	text-align: center;
	background: #fff;
}
.tuijian h3{
	line-height: 100px;
}
.tuijian p{
	font-size:18px;
	color: #ff6702;
}
.inner-bo span{
	display: block;
	height:10px;
	width:10px;
	border-radius: 50%;
	background: #666;
	z-index: 8;
	float:left;
	position: relative;
	left:50%;
	margin-left:12px; 
	margin-top: 60px;
	border: 3px solid #930;
}
.inner-bo span:hover{
	background:red;
}
